*.a
*.so
*.o
*/bin*
*/lib*
*.lib
BUILDING.txt
build/
notes.txt
tutorials/tutorials
breakout/breakout


#distrib/external/NVAPI-R304-developer/NVAPI_R304_Public_SDK_RelNotes.pdf
#distrib/external/NVAPI-R304-developer/NVAPI_SDK_License_Agreement.pdf
#distrib/external/NVAPI-R304-developer/amd64/
#distrib/external/NVAPI-R304-developer/x86/
#external/glew-1.13.0/bin/
#external/glew-1.13.0/lib/
#external/glm-0.9.7.1/doc/glm.pdf
#external/rpavlik-cmake-modules-fe2273/module-docs/AllModuleDependencies.pdf#